.app__specials {
  flex-direction: column;
  background: var(--color-black);
}

.app__specials-title {
  text-align: center;
}

.app__specials-menu {
  width: 100%;
  margin-block: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.app__specials-menu_heading {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 45px;
  color: var(--color-white);
  letter-spacing: 0.04rem;
  margin-block: 2rem;
}

.app__specials-menu_wine,
.app__specials-menu_cocktails {
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.app__specials-menu_img {
  width: 410px;
  margin-inline: 2rem;
  margin-top: 3rem;
}

.app__specials-menu_img img {
  width: 100%;
  height: auto;
}

.app__specials-menu-items {
  display: flex;
  flex-direction: column;
}

@media (max-width: 2000px) {
  .app__specials-menu_img {
    margin-block: 2rem;
  }
}
@media (max-width: 1150px) {
  .app__specials-menu {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 650px) {
  .app__specials-menu_img {
    width: 100%;
  }
}
