.app__footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  z-index: 1;
  background: var(--color-black);
  padding-top: 0;
}
